<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Amazon-GUI">
<test name="notSignedIn">
<classes >
<class name="com.amazon.automateTest.NotSignedInHomeTest"/>
</classes>
</test>
<test name="signIn">
<classes >
<class name="com.amazon.automateTest.checkSignInTest"/>
<class name = "com.amazon.automateTest.SignInActionTest"/>
<class name="com.amazon.automateTest.CheckCreateNewTest"/>

</classes>
</test>
<test name="productTesing">
<classes>
<class name="com.amazon.automateTest.CheckProductTest">
</class></classes></test>
</suite>